.adminHeader {
  align-items: center;
  border-bottom: 3px outset lightgray;
  display: flex;
  height: 25vh;
  justify-content: space-between;
}
.adminHeader h1 {
  padding-left: 4%;
}
.logo {
  height: 75%;
  padding-right: 4%;
  width: auto;
}
