body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ======================================== */
/* === STICKY TOP NAV === */
.sticky {
  left: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1;
}

/* ===== LOGO ===== */
.logo__container {
  align-items: center;
  display: flex;
  height: 15vh;
  justify-content: flex-end;
  padding: 0 10px 20px 0;
  width: 10vw;
}
.logo__image {
  height: 12vh;
  width: auto;
}

/* === DIVIDER IMAGE CSS === */
.divider {
  margin-bottom: 25px;
}

/* === STATIC PAGES CSS === */
.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}
.content {
  width: 80%;
  word-spacing: 1px;
}
.sub__title {
  font-weight: 400;
}
