.admin__body {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar__nav {
  background-color: rgb(117 117 117);
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 3%;
  width: 20vw;
}
.sidebar__title {
  align-items: center;
  color: black;
  display: flex;
  font-size: 130%;
  height: 8vh;
  padding-left: 8%;
  text-decoration: none;
  width: 100%;
}

.sidebar__title:hover {
  background-color: white;
}
.sidebar__title:visited {
  background-color: white;
}

.admin__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.btn__container {
  display: flex;
  height: 20%;
  justify-content: space-between;
}
