.create__folder {
  align-items: center;
  display: flex;
  height: 40%;
  justify-content: space-around;
  width: 100%;
  /* background-color: aliceblue; */
}
.videoCenterForm {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 100%;
}

.section__edits {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 2%;
  width: inherit;
  /* background-color: antiquewhite; */
}
.section__edits p {
  margin: 2% 0 0 7%;
}
.section__edits label {
  align-items: center;
  display: flex;
  height: 20%;
  justify-content: space-between;
}

.videoForm {
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  width: 40%;
  background-color: aliceblue;
}
