.header {
  display: flex;
  height: 22vh;
  width: 100vw;
  border-bottom: 3px outset lightgray;
}

/* ===== LOGO ===== */
.logo__container {
  align-items: center;
  display: flex;
  height: 15vh;
  justify-content: flex-end;
  padding: 0 10px 20px 0;
  width: 10vw;
  /* outline: 1px solid red; */
}
.logo__image {
  height: 12vh;
  width: auto;
}

/* ===== TITLE ===== */
.main__title {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: inherit;
  justify-content: center;
  width: 30vw;
}
.main__title p {
  margin: 0;
}
.main__title p:first-child {
  font-size: 150%;
}
.main__title p:last-child {
  font-size: 130%;
}
